VITE_WXT_DEFAULT_API_ENDPOINT="https://ark.cn-beijing.volces.com/api/v3/chat/completions"
VITE_WXT_DEFAULT_API_KEY="xxxxx"
VITE_WXT_DEFAULT_MODEL="doubao-1-5-lite-32k-250115"
VITE_WXT_DEFAULT_TEMPERATURE="0.2"

# Auth Server Configuration
VITE_AUTH_SERVER_URL="http://localhost:8080"

# TTS API Configuration (Google Cloud TTS)
VITE_WXT_DEFAULT_TTS_API_ENDPOINT="https://texttospeech.googleapis.com/v1beta1/text:synthesize"
VITE_WXT_DEFAULT_TTS_API_KEY="xxxxx"

# WebSocket Log Server
VITE_WS_LOG_SERVER="ws://192.168.8.145:3000/log-ws"